html {
    font-size: 17px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--muted-foreground) var(--muted);
}

.grid-docs-layout {
    grid-template-columns: 2fr 3fr;
}


/* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }
 */
@media (min-width: 1200px) {
    .grid-docs-layout {
        grid-template-columns: 2fr 4fr;
    }

}

@media (min-width: 1400px) {
    .grid-docs-layout {
        grid-template-columns: 2fr 5fr;
    }
}